/* Стилизация кнопки */
.button {
    height: 48px;
    width: 189px;
    border-radius: 8px;
    font-style: 'Roboto';
    font-size: 16px;
    text-align: center;
    cursor: pointer;
}

:disabled {
    opacity: 50%;
    cursor: default;
    pointer-events: none;
}

:root {
    --white: #ffffff;
    --grey-4: #495057;
    --grey-3: #ACB5BD;
    --black: #212429;
    --purple: #7048E8;
    --blue: #374FC7;
}

.button.button_primary {
    background-color: #4263EB;
    color: var(--white);
    border: solid transparent;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button.button_primary:hover {
    background-color: var(--blue);
    color: var(--white);
    border: solid transparent;
}

.button.button_secondary {
    background-color: var(--purple);
    color: var(--white);
    border: solid transparent;
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button.button_secondary:hover {
    background-color: #5028C6;
    color: var(--white);
    border: solid transparent;
}

.button.button_alternate {
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--grey-3);
    color: var(--grey-4);
    transition: opacity 200ms ease-in-out, background 200ms ease-in-out;
}

.button.button_alternate:hover {
    background-color: var(--white);
    border: 1px solid;
    border-color: var(--black);
    color: var(--grey-4);
}